body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.search-container {
  height: 45%;
  width: 30%;
  background-color: #242624;
  border: 2px solid #313632;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 16px;
}

#searchMovie {
  height: 36px;
  width: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

.searchButton {
  height: 36px;
  padding: 0 12px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.searchButton:hover {
  background-color: #9dc9c9;
  transition: 0.2s;
}

.searchButton:active {
  background-color: #819696;
  transition: 0.2s;
}

.search-bar {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;
}
